body {
  font-family: 'Brygada 1918', serif;
}
.display-1 {
  font-family: 'Brygada 1918', serif;
  font-size: 4.375rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.46875rem;
}
.display-2 {
  font-family: 'Brygada 1918', serif;
  font-size: 3.125rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.90625rem;
}
.display-4 {
  font-family: 'Urbanist', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Brygada 1918', serif;
  font-size: 2.0625rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.578125rem;
}
.display-7 {
  font-family: 'Brygada 1918', serif;
  font-size: 1.5625rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.953125rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.0625rem;
    font-size: calc( 2.18125rem + (4.375 - 2.18125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.18125rem + (4.375 - 2.18125) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.5rem;
    font-size: calc( 1.74375rem + (3.125 - 1.74375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.74375rem + (3.125 - 1.74375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.65rem;
    font-size: calc( 1.371875rem + (2.0625 - 1.371875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.371875rem + (2.0625 - 1.371875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.25rem;
    font-size: calc( 1.196875rem + (1.5625 - 1.196875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.196875rem + (1.5625 - 1.196875) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #e04600 !important;
}
.bg-success {
  background-color: #fdffab !important;
}
.bg-info {
  background-color: #01d936 !important;
}
.bg-warning {
  background-color: #3d1c22 !important;
}
.bg-danger {
  background-color: #7a7a7a !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #e04600 !important;
  border-color: #e04600 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #892b00 !important;
  border-color: #892b00 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #892b00 !important;
  border-color: #892b00 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #f4f4f4 !important;
  border-color: #f4f4f4 !important;
  color: #757575 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #757575 !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-info,
.btn-info:active {
  background-color: #01d936 !important;
  border-color: #01d936 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #018321 !important;
  border-color: #018321 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #018321 !important;
  border-color: #018321 !important;
}
.btn-success,
.btn-success:active {
  background-color: #fdffab !important;
  border-color: #fdffab !important;
  color: #a7ab00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #525400 !important;
  background-color: #fbff54 !important;
  border-color: #fbff54 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #a7ab00 !important;
  background-color: #fbff54 !important;
  border-color: #fbff54 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #3d1c22 !important;
  border-color: #3d1c22 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #020101 !important;
  border-color: #020101 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #020101 !important;
  border-color: #020101 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #7a7a7a !important;
  border-color: #7a7a7a !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #4f4f4f !important;
  border-color: #4f4f4f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #4f4f4f !important;
  border-color: #4f4f4f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #e04600;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #892b00 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #e04600 !important;
  border-color: #e04600 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #f4f4f4;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #c9c9c9 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #757575 !important;
  background-color: #f4f4f4 !important;
  border-color: #f4f4f4 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #01d936;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #018321 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #01d936 !important;
  border-color: #01d936 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fdffab;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #fbff54 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #a7ab00 !important;
  background-color: #fdffab !important;
  border-color: #fdffab !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #3d1c22;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #020101 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #3d1c22 !important;
  border-color: #3d1c22 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #7a7a7a;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #4f4f4f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #7a7a7a !important;
  border-color: #7a7a7a !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #e04600 !important;
}
.text-secondary {
  color: #f4f4f4 !important;
}
.text-success {
  color: #fdffab !important;
}
.text-info {
  color: #01d936 !important;
}
.text-warning {
  color: #3d1c22 !important;
}
.text-danger {
  color: #7a7a7a !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #7a2600 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #c1c1c1 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #fbff45 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #01731d !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #000000 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #474747 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #e04600;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #01d936;
}
.alert-warning {
  background-color: #3d1c22;
}
.alert-danger {
  background-color: #7a7a7a;
}
.mbr-gallery-filter li.active .btn {
  background-color: #e04600;
  border-color: #e04600;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #e04600;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffc7ad;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #a7ffbd;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #c37c89;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #bababa;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Urbanist', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #e04600 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Urbanist', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #e04600;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #e04600;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #e04600;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #e04600;
  border-bottom-color: #e04600;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #e04600 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #f4f4f4 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23e04600' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sK8WHrsCdW .navbar-dropdown {
  background-color: #ffffff !important;
  padding: 0;
}
.cid-sK8WHrsCdW .navbar-dropdown {
  position: relative !important;
}
.cid-sK8WHrsCdW nav.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-sK8WHrsCdW nav.navbar {
    flex-wrap: nowrap;
  }
  .cid-sK8WHrsCdW .offcanvas {
    padding: 120px 60px 35px;
    width: 480px;
    background-color: #ffffff;
  }
  .cid-sK8WHrsCdW .offcanvas_image img {
    width: auto;
    object-fit: cover;
    display: inline-block;
  }
  .cid-sK8WHrsCdW .offcanvas-header {
    position: relative;
    padding: 0;
  }
  .cid-sK8WHrsCdW .offcanvas-header .btn-close {
    position: absolute;
    top: -70px;
    right: 0;
    width: 35px;
    height: 30px;
  }
  .cid-sK8WHrsCdW .offcanvas-body {
    text-align: center;
    padding: 0;
  }
  .cid-sK8WHrsCdW .offcanvas-body .mbr-text,
  .cid-sK8WHrsCdW .offcanvas-body .mbr-section-subtitle {
    margin-top: 14px;
  }
  .cid-sK8WHrsCdW .offcanvas-body .offcanvas_contact {
    margin: 35px 0;
  }
  .cid-sK8WHrsCdW .offcanvas_box button.btn_offcanvas {
    outline: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
    color: #ffffff;
  }
  .cid-sK8WHrsCdW .offcanvas_box button.btn_offcanvas .hamburger span {
    position: absolute;
    right: 0;
    width: 40px;
    height: 1px;
    border-right: 5px;
    background-color: #3d1c22;
  }
  .cid-sK8WHrsCdW .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(1) {
    top: 18px;
    transition: all 0.2s;
  }
  .cid-sK8WHrsCdW .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(2) {
    top: 25px;
    transition: all 0.2s;
  }
  .cid-sK8WHrsCdW .offcanvas_box button.btn_offcanvas:hover .hamburger span {
    width: 36px;
  }
  .cid-sK8WHrsCdW .offcanvas_box button.btn_offcanvas:hover .hamburger span:nth-child(2) {
    width: 33px;
    transition-delay: 0.2s;
  }
  .cid-sK8WHrsCdW ul.navbar-nav {
    padding-bottom: 1.5rem;
  }
  .cid-sK8WHrsCdW .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-sK8WHrsCdW .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
  }
  .cid-sK8WHrsCdW .link.dropdown-toggle::after {
    padding: 0 !important;
    transform: rotate(45deg);
  }
  .cid-sK8WHrsCdW li.nav-item {
    position: relative;
    display: inline-block;
    padding: 1px 7px !important;
    vertical-align: middle;
    line-height: 2em !important;
    font-weight: 600 !important;
    text-decoration: none;
    letter-spacing: .3em !important;
  }
  .cid-sK8WHrsCdW li.nav-item:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.32s cubic-bezier(0.31, 0.29, 0.05, 0.96);
  }
  .cid-sK8WHrsCdW li.nav-item:hover:after {
    transform-origin: left;
    transform: scaleX(0.999);
  }
  .cid-sK8WHrsCdW .lg_brand {
    margin: 0 1rem;
  }
}
.cid-sK8WHrsCdW .nav-item {
  margin: 4px 15px;
}
@media (min-width: 1200px) {
  .cid-sK8WHrsCdW .nav-item {
    margin: 4px 19px;
  }
}
@media (max-width: 991px) {
  .cid-sK8WHrsCdW .nav-item {
    margin: 0 !important;
  }
}
.cid-sK8WHrsCdW .dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  text-align: left;
}
@media (min-width: 992px) {
  .cid-sK8WHrsCdW .dropdown-menu {
    padding: 18px 34px 22px;
    min-width: 250px;
    top: 72px !important;
    left: -40px !important;
  }
  .cid-sK8WHrsCdW .dropdown-menu.dropdown-submenu {
    left: 215px!important;
    top: -45% !important;
  }
}
@media (max-width: 991px) {
  .cid-sK8WHrsCdW .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-sK8WHrsCdW .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
    right: 15px;
    position: absolute;
    margin-top: -2px;
  }
  .cid-sK8WHrsCdW .show.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(45deg);
    margin-top: -4px;
  }
  .cid-sK8WHrsCdW .offcanvas_box {
    display: none;
  }
}
.cid-sK8WHrsCdW .dropdown-item {
  border: none;
  font-weight: 400 !important;
}
.cid-sK8WHrsCdW .nav-dropdown .link {
  font-weight: 600 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.cid-sK8WHrsCdW .dropdown .dropdown-item:hover {
  color: #e04600 !important;
}
.cid-sK8WHrsCdW .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sK8WHrsCdW .nav-link {
  position: relative;
}
.cid-sK8WHrsCdW .container {
  display: flex;
  margin: auto;
}
.cid-sK8WHrsCdW .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 17px;
  margin-right: 25px;
  width: 56px;
  height: 56px;
  background-color: #1a1a1a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.cid-sK8WHrsCdW .iconfont-wrapper:last-child {
  margin-right: 0;
}
.cid-sK8WHrsCdW .iconfont-wrapper:hover {
  background-color: #0d0d0d;
}
.cid-sK8WHrsCdW .navbar-nav {
  margin: 0 1rem;
}
@media (min-width: 1200px) {
  .cid-sK8WHrsCdW .navbar-nav {
    margin: 0 2rem;
  }
}
.cid-sK8WHrsCdW .navbar-nav .nav-item:last-child {
  margin-right: 0 !important;
}
.cid-sK8WHrsCdW .dropdown-menu,
.cid-sK8WHrsCdW .navbar.opened {
  background: #ffffff !important;
}
.cid-sK8WHrsCdW .nav-item:focus,
.cid-sK8WHrsCdW .nav-link:focus {
  outline: none;
}
.cid-sK8WHrsCdW .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sK8WHrsCdW .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sK8WHrsCdW .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sK8WHrsCdW .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sK8WHrsCdW .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sK8WHrsCdW .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sK8WHrsCdW .navbar {
  height: 120px;
  transition: all 0.3s;
  border-bottom-width: 0px;
}
.cid-sK8WHrsCdW .navbar.opened {
  transition: all 0.3s;
}
.cid-sK8WHrsCdW .navbar .dropdown-item {
  padding: 0;
  margin: 8px 0;
}
.cid-sK8WHrsCdW .navbar .navbar-logo img {
  width: auto;
}
.cid-sK8WHrsCdW .navbar .navbar-collapse {
  justify-content: space-evenly;
  z-index: 1;
  background: #ffffff !important;
}
.cid-sK8WHrsCdW .navbar.collapsed {
  justify-content: center;
}
.cid-sK8WHrsCdW .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sK8WHrsCdW .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sK8WHrsCdW .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.3rem);
  }
}
.cid-sK8WHrsCdW .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sK8WHrsCdW .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sK8WHrsCdW .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sK8WHrsCdW .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: left;
}
.cid-sK8WHrsCdW .navbar.collapsed .icons-menu {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-sK8WHrsCdW .navbar .nav-item {
    padding: .5rem 0;
  }
  .cid-sK8WHrsCdW .navbar .navbar-collapse {
    padding: 34px 0;
  }
  .cid-sK8WHrsCdW .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sK8WHrsCdW .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sK8WHrsCdW .navbar .dropdown-menu {
    padding: 6px 0 6px 15px;
  }
  .cid-sK8WHrsCdW .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sK8WHrsCdW .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sK8WHrsCdW .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sK8WHrsCdW .navbar ul.navbar-nav {
    overflow: hidden;
  }
  .cid-sK8WHrsCdW .navbar ul.navbar-nav li {
    margin: 0;
  }
  .cid-sK8WHrsCdW .navbar .dropdown-menu .dropdown-item {
    padding: 0 !important;
    margin: 0;
    margin-top: 8px;
    text-align: left;
  }
  .cid-sK8WHrsCdW .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sK8WHrsCdW .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sK8WHrsCdW .navbar .icons-menu {
    padding: 0;
  }
}
.cid-sK8WHrsCdW .navbar.navbar-short {
  min-height: 60px;
}
.cid-sK8WHrsCdW .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sK8WHrsCdW .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sK8WHrsCdW .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sK8WHrsCdW .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sK8WHrsCdW .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sK8WHrsCdW .dropdown-item.active,
.cid-sK8WHrsCdW .dropdown-item:active {
  background-color: transparent;
}
.cid-sK8WHrsCdW .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sK8WHrsCdW .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sK8WHrsCdW .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sK8WHrsCdW .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sK8WHrsCdW .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sK8WHrsCdW .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sK8WHrsCdW ul.navbar-nav {
  flex-wrap: wrap;
  padding-bottom: 0;
}
.cid-sK8WHrsCdW .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sK8WHrsCdW button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  color: #ffffff;
}
.cid-sK8WHrsCdW button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #3d1c22;
}
.cid-sK8WHrsCdW button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sK8WHrsCdW button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sK8WHrsCdW button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sK8WHrsCdW button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sK8WHrsCdW nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sK8WHrsCdW nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sK8WHrsCdW nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sK8WHrsCdW nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sK8WHrsCdW a.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cid-sK8WHrsCdW .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sK8WHrsCdW .navbar {
    height: 70px;
  }
  .cid-sK8WHrsCdW .navbar.opened {
    height: auto;
  }
  .cid-sK8WHrsCdW .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sK8WHrsCdW .mbr-section-subtitle {
  color: #202020;
}
.cid-sK8WHrsCdW .mbr-text {
  color: #7a7a7a;
}
.cid-sK8WKgdzBG {
  padding-top: 2rem;
  padding-bottom: 5rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.cid-sK8WKgdzBG .row {
  align-items: center;
  justify-content: center;
}
.cid-sK8WKgdzBG .shape_left {
  width: 25%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  background-color: #fafcc2;
}
.cid-sK8WKgdzBG .shape_right {
  width: 25%;
  position: absolute;
  top: 20%;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: #f4f4f4;
}
.cid-sK8WKgdzBG .content_box {
  position: relative;
  z-index: 1;
}
.cid-sK8WKgdzBG .mbr-section-title {
  margin-bottom: 21px;
  color: #3d1c22;
}
.cid-sK8WKgdzBG .mbr-text {
  margin-bottom: 21px;
}
.cid-sK8WKgdzBG .image-wrapper,
.cid-sK8WKgdzBG img {
  width: 100%;
}
.cid-sK8WKgdzBG .image-wrapper {
  position: relative;
  z-index: 1;
}
@media (min-width: 991px) {
  .cid-sK8WKgdzBG .content_box {
    padding: 0 5rem 0 1rem;
  }
  .cid-sK8WKgdzBG .image_left {
    padding-top: 5rem;
  }
  .cid-sK8WKgdzBG .image_right {
    right: -2rem;
  }
}
@media (max-width: 767px) {
  .cid-sK8WKgdzBG .row {
    flex-direction: column;
  }
  .cid-sK8WKgdzBG .shape {
    display: none;
  }
  .cid-sK8WKgdzBG .content_box {
    padding: 2rem 0;
  }
}
.cid-sK8WKgdzBG .mbr-text,
.cid-sK8WKgdzBG .mbr-section-btn {
  color: #7a7a7a;
}
.cid-sK8WQejsF3 {
  padding-top: 4rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sK8WQejsF3 .mbr-section-title {
  color: #202020;
}
.cid-sK8WQejsF3 .mbr-text {
  margin: 25px 0;
  color: #3d1c22;
  line-height: 1.2727em;
  position: relative;
  z-index: 2;
}
.cid-sK8WQejsF3 .content_box {
  position: relative;
}
.cid-sK8WQejsF3 .shape {
  position: absolute;
  z-index: 1;
  bottom: -50%;
  left: 50%;
  width: auto;
  transform: translateX(-50%);
  opacity: 0.3;
}
.cid-sK8WQejsF3 .shape img {
  width: 100%;
  height: 100%;
  max-height: 160px;
  object-fit: contain;
}
.cid-sK8X8lO5GN {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-sK8X8lO5GN .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-sK8X8lO5GN .form-control,
.cid-sK8X8lO5GN .field-input,
.cid-sK8X8lO5GN textarea {
  background-color: #fafcc2;
  border-color: #1a1a1a;
  color: #555555;
  transition: 0.4s;
  box-shadow: none;
  border-radius: 0 !important;
  outline: none;
  border: none !important;
  border-bottom: 1px solid #1a1a1a !important;
}
.cid-sK8X8lO5GN .form-control::-webkit-input-placeholder,
.cid-sK8X8lO5GN .field-input::-webkit-input-placeholder,
.cid-sK8X8lO5GN textarea::-webkit-input-placeholder,
.cid-sK8X8lO5GN .form-control::-webkit-input-placeholder,
.cid-sK8X8lO5GN .field-input::-webkit-input-placeholder,
.cid-sK8X8lO5GN textarea::-webkit-input-placeholder {
  color: #555555;
}
.cid-sK8X8lO5GN .form-control:-moz-placeholder,
.cid-sK8X8lO5GN .field-input:-moz-placeholder,
.cid-sK8X8lO5GN textarea:-moz-placeholder,
.cid-sK8X8lO5GN .form-control:-moz-placeholder,
.cid-sK8X8lO5GN .field-input:-moz-placeholder,
.cid-sK8X8lO5GN textarea:-moz-placeholder {
  color: #555555;
}
.cid-sK8X8lO5GN .form-control:hover,
.cid-sK8X8lO5GN .field-input:hover,
.cid-sK8X8lO5GN textarea:hover,
.cid-sK8X8lO5GN .form-control:focus,
.cid-sK8X8lO5GN .field-input:focus,
.cid-sK8X8lO5GN textarea:focus {
  background-color: #fafcc2;
  border-color: #1a1a1a;
  color: #202020;
  box-shadow: none;
  outline: none;
}
.cid-sK8X8lO5GN .form-control:hover::-webkit-input-placeholder,
.cid-sK8X8lO5GN .field-input:hover::-webkit-input-placeholder,
.cid-sK8X8lO5GN textarea:hover::-webkit-input-placeholder,
.cid-sK8X8lO5GN .form-control:focus::-webkit-input-placeholder,
.cid-sK8X8lO5GN .field-input:focus::-webkit-input-placeholder,
.cid-sK8X8lO5GN textarea:focus::-webkit-input-placeholder,
.cid-sK8X8lO5GN .form-control:hover::-webkit-input-placeholder,
.cid-sK8X8lO5GN .field-input:hover::-webkit-input-placeholder,
.cid-sK8X8lO5GN textarea:hover::-webkit-input-placeholder,
.cid-sK8X8lO5GN .form-control:focus::-webkit-input-placeholder,
.cid-sK8X8lO5GN .field-input:focus::-webkit-input-placeholder,
.cid-sK8X8lO5GN textarea:focus::-webkit-input-placeholder {
  color: #202020;
}
.cid-sK8X8lO5GN .form-control:hover:-moz-placeholder,
.cid-sK8X8lO5GN .field-input:hover:-moz-placeholder,
.cid-sK8X8lO5GN textarea:hover:-moz-placeholder,
.cid-sK8X8lO5GN .form-control:focus:-moz-placeholder,
.cid-sK8X8lO5GN .field-input:focus:-moz-placeholder,
.cid-sK8X8lO5GN textarea:focus:-moz-placeholder,
.cid-sK8X8lO5GN .form-control:hover:-moz-placeholder,
.cid-sK8X8lO5GN .field-input:hover:-moz-placeholder,
.cid-sK8X8lO5GN textarea:hover:-moz-placeholder,
.cid-sK8X8lO5GN .form-control:focus:-moz-placeholder,
.cid-sK8X8lO5GN .field-input:focus:-moz-placeholder,
.cid-sK8X8lO5GN textarea:focus:-moz-placeholder {
  color: #202020;
}
.cid-sK8X8lO5GN .jq-number__spin:hover,
.cid-sK8X8lO5GN .jq-number__spin:focus {
  background-color: #fafcc2;
  border-color: #1a1a1a;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}
.cid-sK8X8lO5GN .jq-number__spin {
  background-color: #fafcc2;
  border-color: #1a1a1a;
  color: #555555;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-sK8X8lO5GN .jq-selectbox li,
.cid-sK8X8lO5GN .jq-selectbox li {
  background-color: #fafcc2;
  color: #000000;
}
.cid-sK8X8lO5GN .jq-selectbox li:hover,
.cid-sK8X8lO5GN .jq-selectbox li.selected {
  background-color: #fafcc2;
  color: #000000;
}
.cid-sK8X8lO5GN .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.cid-sK8X8lO5GN .jq-number__spin.minus:hover:after,
.cid-sK8X8lO5GN .jq-number__spin.plus:hover:after {
  border-top-color: #fafcc2;
  border-bottom-color: #fafcc2;
}
.cid-sK8X8lO5GN .jq-selectbox .jq-selectbox__trigger-arrow,
.cid-sK8X8lO5GN .jq-number__spin.minus:after,
.cid-sK8X8lO5GN .jq-number__spin.plus:after {
  border-top-color: #fafcc2;
  border-bottom-color: #fafcc2;
}
.cid-sK8X8lO5GN input::-webkit-clear-button {
  display: none;
}
.cid-sK8X8lO5GN input::-webkit-inner-spin-button {
  display: none;
}
.cid-sK8X8lO5GN input::-webkit-outer-spin-button {
  display: none;
}
.cid-sK8X8lO5GN input::-webkit-calendar-picker-indicator {
  display: none;
}
.cid-sK8X8lO5GN .btn-lg {
  border-radius: 0 !important;
  margin-top: 42px;
}
.cid-sK8X8lO5GN .mbr-section-title {
  margin-bottom: 25px;
  color: #202020;
}
.cid-sK8X8lO5GN form {
  padding: 3rem 15%;
  background-color: #fafcc2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .cid-sK8X8lO5GN form {
    padding: 100px 15%;
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .cid-sK8X8lO5GN form {
    padding: 60px 12px;
  }
}
.cid-sK8X8lO5GN .image-wrapper img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.cid-sK8X8lO5GN .gdpr-block {
  text-align: left;
}
.cid-sK8X8lO5GN .textGDPR.display-7 {
  font-size: 16px;
}
.cid-sK8X8lO5GN .gdpr-block label span.textGDPR input[name="gdpr"] {
  top: 0;
}
.cid-sK8X8lO5GN .form-control,
.cid-sK8X8lO5GN .field-input,
.cid-sK8X8lO5GN textarea {
  padding: 9px 10px;
  line-height: 25px;
  height: 48px;
}
.cid-sK8X8lO5GN .form-check {
  padding-left: 2.5em !important;
}
.cid-sK8X8lO5GN .form-check .display-7 {
  font-size: 16px !important;
}
.cid-sK8X8lO5GN H4 {
  color: #3d1c22;
}
.cid-sK8XwkDPAS {
  padding-top: 3rem;
  padding-bottom: 1rem;
  position: relative;
  background-color: #ffffff;
}
.cid-sK8XwkDPAS .main_header {
  position: relative;
  z-index: 5;
  padding: 0 12px;
  margin: 0 4%;
}
@media (max-width: 767px) {
  .cid-sK8XwkDPAS .main_header {
    margin: 0;
  }
}
.cid-sK8XwkDPAS .mbr-section-title {
  color: #3d1c22;
  margin: 25px 0;
}
.cid-sK8XwkDPAS .two_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: #fafcc2;
  z-index: 0;
}
.cid-sK8XwkDPAS img {
  width: 100%;
  object-fit: cover;
}
.cid-sK8XwkDPAS .image_left,
.cid-sK8XwkDPAS .image_right {
  display: block;
  position: relative;
  left: 0;
  z-index: 1;
}
@media (min-width: 992px) {
  .cid-sK8XwkDPAS .image_left {
    padding-top: 150px;
  }
}
.cid-sK8XwkDPAS .image_right {
  right: 0;
  left: auto;
}
.cid-sK8XwkDPAS .list_widget {
  margin-bottom: 43px;
}
.cid-sK8XwkDPAS .mbr-section-subtitle {
  line-height: 1.2727em;
  color: #3d1c22;
}
.cid-sK8XwkDPAS .linkBtn a {
  position: relative;
  display: inline-block;
  padding: 1px 7px;
  vertical-align: middle;
  overflow: hidden;
  line-height: 2em;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: .2em;
}
.cid-sK8XwkDPAS .linkBtn a:after,
.cid-sK8XwkDPAS .linkBtn a:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  background-color: currentColor;
  transition: transform 0.4s cubic-bezier(0.31, 0.29, 0.05, 0.96);
}
.cid-sK8XwkDPAS .linkBtn a:before {
  left: 0;
}
.cid-sK8XwkDPAS .linkBtn a:after {
  left: -100%;
  transition-delay: .3s;
}
.cid-sK8XwkDPAS .linkBtn a:hover:before,
.cid-sK8XwkDPAS .linkBtn a:hover:after {
  transform: translateX(100%);
}
.cid-sK8XwkDPAS .mbr-text,
.cid-sK8XwkDPAS .linkBtn {
  color: #7a7a7a;
}
.cid-sK8XztX2RW {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-sK8XztX2RW .image_wrapper {
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
}
.cid-sK8XztX2RW .item-img {
  width: 100px;
  margin-bottom: 21px;
  height: 100%;
  display: inline-block;
}
.cid-sK8XztX2RW img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.cid-sK8XztX2RW .item {
  margin-bottom: 70px;
}
.cid-sK8XztX2RW .item-title {
  margin-bottom: 11px;
  color: #202020;
}
.cid-sK8XztX2RW .item-wrapper {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  overflow: visible;
}
.cid-sK8XztX2RW .mbr-text {
  margin-bottom: 18px;
}
.cid-sK8XztX2RW .linkBtn a {
  position: relative;
  display: inline-block;
  padding: 1px 7px;
  vertical-align: middle;
  overflow: hidden;
  line-height: 2em;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: .2em;
}
.cid-sK8XztX2RW .linkBtn a:after,
.cid-sK8XztX2RW .linkBtn a:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  background-color: currentColor;
  transition: transform 0.4s cubic-bezier(0.31, 0.29, 0.05, 0.96);
}
.cid-sK8XztX2RW .linkBtn a:before {
  left: 0;
}
.cid-sK8XztX2RW .linkBtn a:after {
  left: -100%;
  transition-delay: .3s;
}
.cid-sK8XztX2RW .linkBtn a:hover:before,
.cid-sK8XztX2RW .linkBtn a:hover:after {
  transform: translateX(100%);
}
.cid-sK8XztX2RW .item-title,
.cid-sK8XztX2RW .item-img {
  color: #3d1c22;
}
.cid-sK8XztX2RW .mbr-text,
.cid-sK8XztX2RW .linkBtn {
  color: #7a7a7a;
}
.cid-sK8XDkDz9t {
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  background-color: #ffffff;
}
.cid-sK8XDkDz9t .content_box {
  justify-content: center;
  align-items: center;
  padding: 12px 15%;
  background-color: #fafcc2;
  text-align: center;
}
.cid-sK8XDkDz9t .mbr-section-title {
  color: #3d1c22;
  margin-bottom: 15px;
}
.cid-sK8XDkDz9t .card_title {
  color: #202020;
  line-height: 1.2727em;
  margin-bottom: 0;
}
.cid-sK8XDkDz9t img,
.cid-sK8XDkDz9t .item-img {
  width: 100%;
  object-fit: cover;
  height: 400px;
}
.cid-sK8XDkDz9t .item,
.cid-sK8XDkDz9t .item_block {
  margin-bottom: 30px;
}
.cid-sK8XDkDz9t .item-wrapper {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  overflow: visible;
  position: relative;
}
.cid-sK8XDkDz9t .item-wrapper:hover .card_box {
  clip-path: inset(15px 15px 15px 15px);
  opacity: 1;
}
.cid-sK8XDkDz9t .item-wrapper:hover .card_title {
  transition-delay: .1s;
  opacity: 1;
  transform: translateY(0);
}
.cid-sK8XDkDz9t .item-wrapper:hover .card_text {
  transition-delay: .2s;
  opacity: 1;
  transform: translateY(0);
}
.cid-sK8XDkDz9t .item-wrapper:hover .icons_card {
  transition-delay: .3s;
  opacity: 1;
  transform: translateY(0);
}
.cid-sK8XDkDz9t .card_title,
.cid-sK8XDkDz9t .card_text,
.cid-sK8XDkDz9t .icons_card {
  transform: translateY(16px);
  opacity: 0;
  transition: opacity 0.44s cubic-bezier(0.54, 0.32, 0.05, 0.96), transform 0.44s cubic-bezier(0.54, 0.32, 0.05, 0.96);
}
.cid-sK8XDkDz9t .mbr-text,
.cid-sK8XDkDz9t .card_text {
  color: #202020;
}
.cid-sK8XDkDz9t .card_box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  clip-path: inset(0 0 0 0);
  opacity: 0;
  padding: 30px;
  transition: opacity 0.3s ease, clip-path 0.52s ease, -webkit-clip-path 0.52s ease;
  background-color: #fafcc2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cid-sK8XDkDz9t .icons_card {
  margin-top: 17px;
  display: flex;
  justify-content: center;
  height: 26px;
}
.cid-sK8XDkDz9t .iconfont-wrapper {
  color: #202020;
  font-size: 1.1rem;
  margin-right: 10px;
  width: 1.1rem;
  height: 1.1rem;
  transition: all 0.2s ease-in-out;
}
.cid-sK8XDkDz9t .iconfont-wrapper:last-child {
  margin-right: 0;
}
.cid-sK8XDkDz9t .iconfont-wrapper:hover {
  opacity: .85;
}
.cid-sK8XDkDz9t .linkBtn {
  margin-top: 35px;
  width: 100%;
}
.cid-sK8XDkDz9t .linkBtn a {
  position: relative;
  display: inline-block;
  padding: 1px 7px;
  vertical-align: middle;
  overflow: hidden;
  line-height: 2em;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: .2em;
}
.cid-sK8XDkDz9t .linkBtn a:after,
.cid-sK8XDkDz9t .linkBtn a:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  background-color: currentColor;
  transition: transform 0.4s cubic-bezier(0.31, 0.29, 0.05, 0.96);
}
.cid-sK8XDkDz9t .linkBtn a:before {
  left: 0;
}
.cid-sK8XDkDz9t .linkBtn a:after {
  left: -100%;
  transition-delay: .3s;
}
.cid-sK8XDkDz9t .linkBtn a:hover:before,
.cid-sK8XDkDz9t .linkBtn a:hover:after {
  transform: translateX(100%);
}
@media (max-width: 991px) {
  .cid-sK8XDkDz9t .card_title,
  .cid-sK8XDkDz9t .card_text,
  .cid-sK8XDkDz9t .icons_card {
    transform: translateY(0);
    opacity: 1;
  }
  .cid-sK8XDkDz9t .card_box {
    opacity: 1;
    background-color: rgba(250, 252, 194, 0.87);
  }
}
.cid-sK8XDkDz9t .mbr-text,
.cid-sK8XDkDz9t .linkBtn {
  color: #7a7a7a;
}
.cid-sK8XG8x9uy {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-sK8XG8x9uy img {
  width: 100%;
  object-fit: cover;
  height: 450px;
}
@media (max-width: 800px) {
  .cid-sK8XG8x9uy img {
    height: auto;
  }
}
.cid-sKHN4PFAd5 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  background-color: #ffffff;
}
.cid-sKHN4PFAd5 .mbr-section-title {
  text-align: center;
  margin-bottom: 50px;
  color: #202020;
}
.cid-sKHN4PFAd5 .two_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #fafcc2;
  z-index: 0;
}
.cid-sKHN4PFAd5 .circle {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #ffffff;
  border-radius: 50%;
  width: 95px;
  height: 95px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 767px) {
  .cid-sKHN4PFAd5 .circle {
    max-height: 120px;
    max-width: 120px;
  }
}
.cid-sKHN4PFAd5 .iconfont-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  width: 25px;
  height: 25px;
  line-height: 25px;
}
.cid-sKHN4PFAd5 .iconfont-wrapper .mbr-iconfont {
  font-size: 25px;
  margin-left: 3px;
  color: #202020;
}
.cid-sKHN4PFAd5 .mbr-media {
  position: relative;
  cursor: pointer;
}
.cid-sKHN4PFAd5 .mbr-media img {
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}
.cid-sKHN4PFAd5 .mbr-media:hover .circle {
  width: 109.25px;
  height: 109.25px;
  cursor: pointer;
}
.cid-sKHN4PFAd5 .shape {
  position: absolute;
  z-index: 6;
  top: 20%;
  left: -5%;
  width: 150px;
  height: 150px;
}
.cid-sKHN4PFAd5 .shape img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
@media (max-width: 767px) {
  .cid-sKHN4PFAd5 .shape {
    display: none;
  }
}
.cid-sKHN4PFAd5 .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-sKHN4PFAd5 .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-sKHN4PFAd5 .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-sKHN4PFAd5 .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-sKHN4PFAd5 .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-sK8XVZNQo6 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  background-color: #ffffff;
}
.cid-sK8XVZNQo6 .image-wrapper {
  position: relative;
  width: 100%;
}
.cid-sK8XVZNQo6 .image-wrapper img {
  display: block;
  width: 100%;
  max-height: 100vh;
  object-fit: cover;
}
.cid-sK8XVZNQo6 .item-img {
  margin-bottom: 18px;
  display: block;
  text-align: center;
}
.cid-sK8XVZNQo6 .item-img img {
  width: 240px;
  height: auto;
  object-fit: contain;
  display: inline-block;
  transition: transform 0.29s cubic-bezier(0.4, 0.12, 0.4, 0.85);
}
.cid-sK8XVZNQo6 .main_header {
  padding: 10%;
}
@media (min-width: 992px) {
  .cid-sK8XVZNQo6 .main_header {
    padding: 0 15%;
  }
  .cid-sK8XVZNQo6 .main_header:hover img {
    transform: translateX(7px);
  }
}
@media (max-width: 767px) {
  .cid-sK8XVZNQo6 .main_header {
    padding: 30px 12px 4rem;
  }
}
.cid-sK8XVZNQo6 .mbr-section-title {
  margin-bottom: 22px;
  color: #3d1c22;
}
.cid-sK8XVZNQo6 .mbr-text {
  margin: 11px 0 4px;
  color: #7a7a7a;
}
.cid-sK8XVZNQo6 .header_address {
  margin-top: 26px;
}
.cid-sK8XWPJ2GK {
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  background-color: #ffffff;
}
.cid-sK8XWPJ2GK .mbr-section-title {
  margin-bottom: 18px;
  color: #202020;
}
.cid-sK8XWPJ2GK .head_title {
  margin: 25px 0 58px;
  text-align: center;
}
.cid-sK8XWPJ2GK img,
.cid-sK8XWPJ2GK .item-img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.35s cubic-bezier(0.4, 0.12, 0.4, 0.85);
  height: 100%;
}
.cid-sK8XWPJ2GK .item {
  margin-bottom: 30px;
}
.cid-sK8XWPJ2GK .item-wrapper {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-sK8XWPJ2GK .card_title {
  color: #ffffff;
  letter-spacing: .075em;
  line-height: 1.06em;
}
.cid-sK8XWPJ2GK .item-img {
  position: relative;
  z-index: 1;
}
.cid-sK8XWPJ2GK .item-img img {
  transform: scale(1.05);
}
.cid-sK8XWPJ2GK .item-img:hover img {
  transform: translateX(7px) scale(1.05);
}
.cid-sK8XWPJ2GK .item-img .card_info {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: translate(-50%, -50%);
  padding: 0 12px;
}
.cid-sKI0mIJYIq {
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
  background-color: #ffffff;
}
.cid-sKI0mIJYIq .mbr-section-title {
  margin-bottom: 18px;
  color: #3d1c22;
}
.cid-sKI0mIJYIq .head_title {
  margin: 25px 0 58px;
  text-align: center;
}
.cid-sKI0mIJYIq .mbr-text {
  color: #ffffff;
}
.cid-sKI0mIJYIq img,
.cid-sKI0mIJYIq .item-img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.35s cubic-bezier(0.4, 0.12, 0.4, 0.85);
  height: 100%;
}
.cid-sKI0mIJYIq .item {
  margin-bottom: 65px;
}
.cid-sKI0mIJYIq .item-wrapper {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-sKI0mIJYIq .card_info {
  margin-bottom: 12px;
  display: flex;
}
.cid-sKI0mIJYIq .card_title {
  color: #3d1c22;
  line-height: 1.2727em;
  margin-bottom: 18px;
}
.cid-sKI0mIJYIq .card_text {
  color: #ffffff;
  margin-top: 4px;
}
.cid-sKI0mIJYIq .item-img {
  margin-bottom: 30px;
  overflow: hidden;
}
.cid-sKI0mIJYIq .item-img:hover img {
  transform: translateX(7px) scale(1.05);
}
.cid-sKI0mIJYIq .linkBtn a {
  position: relative;
  display: inline-block;
  padding: 1px 7px;
  vertical-align: middle;
  overflow: hidden;
  line-height: 2em;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: .2em;
}
.cid-sKI0mIJYIq .linkBtn a:after,
.cid-sKI0mIJYIq .linkBtn a:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  background-color: currentColor;
  transition: transform 0.4s cubic-bezier(0.31, 0.29, 0.05, 0.96);
}
.cid-sKI0mIJYIq .linkBtn a:before {
  left: 0;
}
.cid-sKI0mIJYIq .linkBtn a:after {
  left: -100%;
  transition-delay: .3s;
}
.cid-sKI0mIJYIq .linkBtn a:hover:before,
.cid-sKI0mIJYIq .linkBtn a:hover:after {
  transform: translateX(100%);
}
.cid-sKI0mIJYIq .card_date {
  color: #ffffff;
}
.cid-sKI0mIJYIq .card_name {
  color: #202020;
}
.cid-sKI0mIJYIq .card_name:before {
  content: " / ";
  display: inline-block;
  margin: 0 10px;
}
.cid-sK8XYi3KO7 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-sK8XYi3KO7 .mbr-section-title {
  margin-bottom: 1rem;
  color: #3d1c22;
}
.cid-sK8XYi3KO7 .footer_logo {
  margin-bottom: 2rem;
}
.cid-sK8XYi3KO7 .footer_logo img {
  width: auto;
  object-fit: cover;
  display: inline-block;
}
.cid-sK8XYi3KO7 .mbr-text {
  margin: 10px 0;
  text-align: center;
  color: #7a7a7a;
}
.cid-sK8XYi3KO7 .icons_footer {
  margin-top: 35px;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
}
.cid-sK8XYi3KO7 .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 17px;
  margin-right: 25px;
  width: 56px;
  height: 56px;
  background-color: #1a1a1a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.cid-sK8XYi3KO7 .iconfont-wrapper:last-child {
  margin-right: 0;
}
.cid-sK8XYi3KO7 .iconfont-wrapper:hover {
  background-color: #0d0d0d;
}
@media (max-width: 767px) {
  .cid-sK8XYi3KO7 .footer_timework {
    margin-top: 50px;
  }
  .cid-sK8XYi3KO7 .footer_contact {
    margin-bottom: 50px;
  }
}
.cid-sK8XZfk3pu {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-sK8XZfk3pu .mbr-text {
  color: #7a7a7a;
  margin: 10px 0;
  width: 100%;
  text-align: center;
}
